
@{
    ViewBag.Title = "Photos";
}
<div>
    <div class="row">
        
        <div class="col-sm-4 col-md-4" id="col0"></div>
        <div class="col-sm-4 col-md-4" id="col1"></div>
        <div class="col-sm-4 col-md-4" id="col2"></div>

    </div>
</div>



<script>
   
    $.getJSON("@Url.Action("GetPhotosData")", function (data) {
        index = 0;
        for (i = 0; i < data.length; i++) {
            date = data[i].date;
            photos = data[i].photos;
            for (j = 0; j < photos.length; j++) {
                name = photos[j].substring(photos[j].lastIndexOf('\\') + 1);
                src = "/out/" + date + "/" + name;
                srcThumb = "/out/thumbnails/" + date + "/" + name;
                viewUrl = "/imageView/imageView?name=" + name + "&date=" + date;
                deleteUrl = "/DeletePhotoView/DeletePhotoView?name=" + name + "&date=" + date;
                var t = "<div class=\"img-thumbnail\">\n<img src=\"" + srcThumb + "\" alt = \"no image\" >\n<div class=\"caption\">\n<h3>" + name + "\n</h3><p>" + date + "</p>\n<p><a href=\"" + viewUrl + "\" class=\"btn btn-primary\" role=\"button\">View</a> <a href=\"" + deleteUrl +"\" class=\"btn btn-default\" role=\"button\">Delete</a></p>\n</div>\n</div>"
                colToAppend = "#col" + index % 3;
                index++;
                $(colToAppend).append(t);

            }
        }
        
    });
</script>
