
@{
    ViewBag.Title = "DeletePhotoView";
}

<body>
    <h3 id="name"></h3>
    <p id="caption"></p>
    <img id="image" height="120" width="120" />
    <a id="delete" class="btn btn-danger" role="button">Delete</a>
</body>


<script>

    var url = document.URL;
    var name = url.split("name=")[1].split("&")[0];
    var date = url.split("date=")[1];
    var srcThumb = "/out/thumbnails/" + date + "/" + name;

    document.getElementById("name").innerHTML = "Are you sure you want to delete - " + name + "?";
    document.getElementById("caption").innerHTML = date;
    document.getElementById("image").setAttribute("src", srcThumb);

    $("#delete").click(function () {
        $.ajax({
        type: 'POST',
        url: "@Url.Action("DeletePhoto", "DeletePhotoView")",
        data: {
              name: name, date: date
        },
       success: function () {
           location.replace("/PhotosView/PhotosView");;
       }
    });
    });
    
    
</script>
