
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<body id="logsBody">
    <div class="form-group" ">
        <select class="form-control" id="optionList" onchange="updateLogs()">
            <option value="All">All</option>
            <option value="INFO">INFO</option>
            <option value="WARNING">WARNING</option>
            <option value="FAIL">FAIL</option>
        </select>
    </div>
    <div id="logsLocation">
        <table class="table table-hover" id="logsTable">
            <tr>
                <td>Type</td>
                <td>Message</td>
            </tr>
        </table>
    </div>
    

</body>
<script>

    function updateLogs() {
        data = @Html.Action("getLogs", "LogsView");

        $("#logsTable").remove();
        $("#logsLocation").append("<table class=\"table table - hover\" id=\"logsTable\">\n<tr>\n<td>Type</td>\n<td>Message</td>\n</tr >\n</table>");
        
        var list = document.getElementById("optionList");
        var option = list.options[list.selectedIndex].value;

        var table = document.getElementById("logsTable");
        index = 1
        for (i = 0; i < data.length; i++) {
            if (option == "All" || option == data[i]["type"]) {
                var row = table.insertRow(index);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = data[i]["type"];
                cell2.innerHTML = data[i]["message"];
                index++;
            } 
        }
    }
    updateLogs();
</script>
    

   
        

    
 

